.card {
  font-size: 10px;
  width: 250px;
  margin-bottom: 1rem;
  margin: 1rem;
  border: none !important;
  background: none;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  font-size: 15px;
}

.card .img-container > img {
  height: 250px;
  width: 250px;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
}
